<div class="bg" style="background-color: #f8f8f8">
  <nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'" nzTip="Working...">
    <div class="parent">
      <div class="child">
        <div nz-row class="imgDiv">
          <div nz-col nzSpan="24">
            <h1 style="text-align: center">Signup As Customer</h1>
          </div>
        </div>

        <form nz-form [formGroup]="validateForm" (ngSubmit)="register()">
          <!-- Email -->
          <nz-form-item>
            <nz-form-control
              nzHasFeedback
              nzErrorTip="The input is not valid E-mail!"
            >
              <input nz-input placeholder="E-mail" formControlName="email" />
            </nz-form-control>
          </nz-form-item>

          <!-- 📞 Phone Number -->
          <nz-form-item>
            <nz-form-control nzHasFeedback [nzErrorTip]="phoneErrorTpl">
              <input
                nz-input
                placeholder="Phone Number"
                formControlName="phoneNumber"
              />
              <ng-template #phoneErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')"
                  >Please input your phone number!</ng-container
                >
                <ng-container *ngIf="control.hasError('pattern')"
                  >Phone number must be 10 digits.</ng-container
                >
              </ng-template>
            </nz-form-control>
          </nz-form-item>
          <!-- Password -->
          <nz-form-item>
            <nz-form-control nzHasFeedback [nzErrorTip]="errorPass">
              <nz-input-group [nzSuffix]="suffixIcon1">
                <input
                  nz-input
                  [type]="showPassword ? 'text' : 'password'"
                  placeholder="Password"
                  formControlName="password"
                />
              </nz-input-group>
              <ng-template #suffixIcon1>
                <i
                  nz-icon
                  [nzType]="showPassword ? 'eye-invisible' : 'eye'"
                  (click)="togglePasswordVisibility()"
                  style="cursor: pointer"
                ></i>
              </ng-template>
              <ng-template #errorPass let-control>
                <ng-container *ngIf="control.hasError('required')"
                  >Password is required!</ng-container
                >
                <ng-container *ngIf="control.hasError('pattern')">
                  Password must contain at least 8 characters, 1 lowercase, 1
                  uppercase, 1 number, and 1 special character.
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>

          <!-- Confirm Password -->
          <nz-form-item>
            <nz-form-control nzHasFeedback [nzErrorTip]="errorTpl">
              <nz-input-group [nzSuffix]="suffixIcon2">
                <input
                  nz-input
                  [type]="showConfirmPassword ? 'text' : 'password'"
                  placeholder="Confirm Password"
                  formControlName="checkPassword"
                />
              </nz-input-group>
              <ng-template #suffixIcon2>
                <i
                  nz-icon
                  [nzType]="showConfirmPassword ? 'eye-invisible' : 'eye'"
                  (click)="toggleConfirmPasswordVisibility()"
                  style="cursor: pointer"
                ></i>
              </ng-template>
              <ng-template #errorTpl let-control>
                <ng-container
                  *ngIf="validateForm.hasError('confirm') && control.dirty"
                >
                  The two passwords entered do not match!
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>

          <!-- Name -->
          <nz-form-item>
            <nz-form-control nzHasFeedback [nzErrorTip]="userErrorTpl">
              <input nz-input placeholder="Name" formControlName="name" />
              <ng-template #userErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')"
                  >Please input your name!</ng-container
                >
              </ng-template>
            </nz-form-control>
          </nz-form-item>

          <!-- Submit Button -->
          <button
            nz-button
            [nzType]="'primary'"
            class="login-form-button login-form-margin"
            [disabled]="isSpinning"
          >
            Register
          </button>
          Or <a routerLink="/login" style="text-align: center;">login now!</a>
        </form>
      </div>
    </div>
  </nz-spin>
</div>
