<div class = "container">
    <div class = "section">
         <div class = "header">
                <h1>Welcome to Smart Dinning System!</h1>
                <p>choose your user type to get Started:</p>
    </div>
    <div class="button">
        <button nz-button nzType="primary" routerLink="/register_admin">
            Register as a Admin
        </button>
        <button nz-button nzType="primary" routerLink="/register_user">
            Register as a User
        </button>

      </div>
  </div>
</div>
